<aside ...attributes>
<<<<<<< HEAD
  <div class="avatar" title={{@title}}>{{@initial}}</div>
=======
  <div
    class="avatar {{if @isActive "is-active"}}"
    title={{@title}}
  >
    {{@initial}}
  </div>
>>>>>>> dev
</aside>